<a class="logo" href="{{@site.url}}">
    {{#if @site.logo}}
        <img loading="lazy" class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
        <img loading="lazy" class="logo-image" src="/assets/visuals/logo-pink.png" alt="{{@site.title}}">
    {{/if}}
</a>