 <div class="social-buttons">
    <div>
      <a href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
    </div>
    <div>
      <a href="https://pinterest.com/pin/create/button/?url={{url absolute="true"}}&media={{featured_image}}&description={{encode title}}"
        target="_blank" rel="noopener" data-pin-do="none"><i class="fab fa-pinterest"></i></a>
      <a href="https://t.me/share/url?url={{url absolute="true"}}&text={{encode title}}" target="_blank" rel="noopener"><i
          class="fab fa-telegram"></i></a>
    </div>
  </div>